# 1. Секреты для базы данных
apiVersion: v1
kind: Secret
metadata:
  name: db-secret-nikita
type: Opaque
stringData:
  username: nikita_user
  password: nikita_password
---
# 2. База данных PostgreSQL
apiVersion: apps/v1
kind: Deployment
metadata:
  name: db-deployment-nikita
spec:
  selector:
    matchLabels:
      app: db-nikita
  template:
    metadata:
      labels:
        app: db-nikita
    spec:
      containers:
        - name: postgres
          image: postgres:15
          ports:
            - containerPort: 5432
          env:
            - name: POSTGRES_DB
              value: library_db
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: db-secret-nikita
                  key: username
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: db-secret-nikita
                  key: password
---
apiVersion: v1
kind: Service
metadata:
  name: db-service-nikita
spec:
  selector:
    app: db-nikita
  ports:
    - port: 5432
      targetPort: 5432
---
# 3. Твое приложение (Todo App)
apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-app-nikita
spec:
  replicas: 2
  selector:
    matchLabels:
      app: todo-app-nikita
  template:
    metadata:
      labels:
        app: todo-app-nikita
    spec:
      containers:
        - name: todo-app
          image: antinikita/todo-app-nikita:6 # Твой проверенный образ!
          ports:
            - containerPort: 8080
          env:
            - name: SPRING_DATASOURCE_URL
              value: jdbc:postgresql://db-service-nikita:5432/library_db
            - name: SPRING_DATASOURCE_USERNAME
              valueFrom:
                secretKeyRef:
                  name: db-secret-nikita
                  key: username
            - name: SPRING_DATASOURCE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: db-secret-nikita
                  key: password
---
apiVersion: v1
kind: Service
metadata:
  name: todo-service-nikita
spec:
  type: NodePort
  selector:
    app: todo-app-nikita
  ports:
    - port: 8080
      targetPort: 8080
      nodePort: 30001